<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <uses-feature android:name="android.hardware.microphone" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_jp"
        android:label="Learn Japanese"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_jp"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.notorein.BasicAppII.ActivityQuickEdit"
            android:exported="false">
        </activity>
        <activity
            android:name="com.notorein.BasicAppII.ActivityCards"
            android:exported="false" />
        <activity
            android:name="com.notorein.BasicAppII.ActivityAbout"
            android:exported="false" />
        <activity
            android:name="com.notorein.BasicAppII.ActivitySettings"
            android:exported="false" />
        <activity
            android:name="com.notorein.BasicAppII.ActivityLessons"
            android:exported="false" />
        <activity
            android:name="com.notorein.BasicAppII.ActivityMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>